<h1>Users#login</h1>
<p>Find me in app/views/users/signup.html.erb</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<%= form_for :login_info, url: login_path do |f| %>

			<%= f.label :email %>
			<%= f.email_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

			<%= f.submit "Create my account", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

